<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/is/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/main.css">



    <title> UMAR'S PORTFOLIO</title>
</head>
<body>
    <div class="frame">
     <div class="main_frame">
       <div class="left_frame">
        <div class="left_1">
            <div class="left_1-1">
                <img src="images/profile.png" alt="photo" width="156px" height="142px">
            </div>
            <div class="left_1-2"><%=user.name%></div>
            <div class="left_1-3"><%=user.profession%></div>
            <a class="link_href" href="">
            <div class="icon">
               <img src="/public/author/icon/lnkedin.svg" class="icon-1"/> 
            </div>
        </a>
        <a class="link_href" href="">
            <div class="icon">
               <img src="/public/author/icon/instagram.svg" class="icon-2"/> 
            </div>
        </a>
        <a class="link_href" href="">
            <div class="icon">
               <img src="/public/author/icon/youtube.svg" class="icon-3"/> 
            </div>
        </a>
        <a class="link_href" href="">
            <div class="icon">
               <img src="/public/author/icon/dribble.svg" class="icon-4"/> 
            </div>
        </a>
        <a class="link_href" href="">
            <div class="icon">
               <img src="/public/author/icon/twitter.svg" class="icon-5"/> 
            </div>
        </a>
        <a class="link_href" href="">
            <div class="icon">
               <img src="/public/author/icon/facebook.svg" class="icon-6"/> 
            </div>
        </a>
            <div class="left_icons"></div>
        </div>
        <div class="marginer"></div>
        <div class="left_2"></div>
        <div class="marginer"></div>
        <div class="left_3"></div>
        <div class="marginer"></div>
        <div class="left_4"></div>
        <div class="marginer"></div>
        <div class="left_5"></div>
        <div class="marginer"></div>
        </div> 
       <div class="midd_frame"></div> 
       <div class="right_frame"></div> 
     </div>
    </div> 
</body>
</html> 